extends base.pug

 

block style 
    style 
        include ../static/style.css
        include ../static/servicesStyle.css

block content
    div#maincontainer 
        h1 Get the help you need
        p Learn Trading the simple way
        button(class="btn") Get Started
    #youtubeBox 
        iframe(src="https://www.youtube.com/embed/-eA6utnkF1c",allowfullscreen, frameborder="0") 
        h3 Our Youtube Channel
    #podcasts 
        img(src="/static/play.jpg", alt="",id="playPodcast")
block scripts 
    script(src="/static/index.js")
