@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navigation {
    background-color: #313e7f;
    padding: 8px 3px;
    font-family: 'Merriweather', serif;
}

#navigation ul {
    display: flex;
    align-items: center;
}

#logo img {
    height: 35px;
    width: 35px;
    margin: 0px 20px;
}

#navigation li {
    list-style: none;

}

#navigation li a {
    text-decoration: none;
    color: white;
    margin: 2px 3px;
    padding: 2px 20px;

}

#IntroSection {
    padding-bottom: 80px;
    height: 500px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background: url(../static/bg.jpg) no-repeat center center/cover;
    opacity: 0.8;
}

#mainHeading {
    font-size: 50px;
    color: tomato;
    padding: 7px 3px;
    font-family: 'Rubik', sans-serif;
}

#subHeading {
    font-family: sans-serif;
}

#SponserImg {
    height: 225px;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;

}

#Sponser h3 {
    text-align: center;
    font-size: 35px;
    font-family: 'Rubik', sans-serif;
    padding: 2px 3px;
    margin: 18px 3px;
}

.sponserBox img {
    height: 150px;
    width: 170px;
    margin: 3px 27px;
    padding: 9px 4px;
}

#Footer {
    color: white;
    background-color: black;
    text-align: center;
    padding: 7px 0px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}